<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ app_name }} - {{page_title}}</title>
    <meta name="description" content="rocket.rs">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <h1>{{ app_name }} - {{page_title}}</h1>
    <h2>{{ pb_name }}</h2>

    <h3>General Description <span class="player_caption"> (Read to Players)</span></h3>

    <blockquote>
    {% for line in pb_general_info %}
    {{line | safe}}
    {% endfor %}
    </blockquote>

    <h3>History <span class="GM_caption"> (GM Only)</span></h3>
    {% for line in pb_history_profile %}
        {{line | safe}}
    {% endfor %}

    {% if redlight_profile %}
    <h3>Redlight / Underworld Services <span class="GM_caption"> (GM Only, Rolls Required)</span></h3>
    {% for line in redlight_profile %}
        {{line | safe}}
    {% endfor %}
    {% endif %}

    <script src="" async defer></script>
</body>

</html>
